html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
}



*::focus {
  outline: 2px dashed #000;
  outline-offset: 3px;
  font-family: "Poppins", sans-serif;
}

*{
  margin: 0;
  padding: 0;
 background: #000"
}




.container {
  max-width: 1640px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 90px;
}

.nav_list {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style: none;
}

.list_item {
  margin-right: 20px;
  color: white;
  font-size: 20px;
}

.list_item :active {
  opacity: 0.9;
  color: #306ef7;
}

.list_item :hover {
  opacity: 0.9;
  color: #306ef7;
}

.list_item:not(:last-child) {
  margin-right: 20px;
}

.nav_link {
  color: white;
  text-decoration: none;
}

.button {
  justify-content: space-between;
}

.login {
  text-decoration: none;
  color: #707070;
  margin-right: 10px;
  font-size: 20px;
}

.login:active{
  opacity: 0.9;
 color:#306ef7;
}

.login:hover{
  opacity: 0.9;
 color:#306ef7;
}



.sign-up {
  background-color: #306ef7;
  text-decoration: none;
  border: 1px solid #306ef7;
  color: #ffffff;
  border-radius: 10px;
  padding: 12px 20px;
}

.sign-up:active{
  opacity: 0.9;
  color: #0FC65C;
}


/* CTA */

.offer-cta {
  margin-bottom: 150px;
}

.offer-trust-title {
  font-weight: semi-bold;
  font-size: 35px;
  font-family: "Poppins", sans-serif;
  margin-top: 0;
  padding: 0;
}

.offer-title {
  justify-content: center;
  font-weight: semi-bold;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 75px;
}

.offer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer-own {
  padding: 0;
  margin: 0;
  font-weight: bold;
  font-size: 102px;
}

.title-two {
  background: linear-gradient(90deg, #fe6783 1.9%, #ffbf84 97.1%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.offer-div {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
}

.offer-info {
  width: 694px;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-weight: medium;
}

.offer-button {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}

.offer-button {
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.offer-get {
  background: #306ef7;
  color: #ffffff;
  border-radius: 10px;
  margin-right: 20px;
  padding: 20px 64px;
  text-decoration: none;
}

.offer-get:hover {
  opacity: 0.5;
  color: #306ef7;
  background: black;
}

.offer-wiew {
  border: 1px solid #707070;
  background-color: #000;
  color: #707070;
  border-radius: 10px;
  text-decoration: none;
  padding: 20px 64px;
}

.offer-wiew:hover {
  opacity: 0.8;
  color: #306ef7;
  border-color: #306ef7;
}

.offer-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.offer-member {
  font-family: "Poppins", sans-serif;
  color: #707070;
  font-size: 20px;
  margin-left: 4px;
  margin-bottom: 4px;

}

.offer-trust-band {
  justify-content: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: semi-bold;
  text-transform: uppercase;
  font-size: 73px;
  margin-bottom: 40px;
}

.offer-trust-wrapper {
  display: flex;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.offer-trust-wrapper img {
  margin-right: 10px;
  margin-top: 10px;
}

.text-wrapper {
  flex: 1;
}

.offer-trust-prg {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  align-items: center;
  margin: 0;
  padding: 0;
}

.step-one {
  text-align: center;
  margin-bottom: 200px;
}

.step {
  font-size: 25px;
  color: #3d82f2;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
.step-title {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-weight: semi-bold;
  font-size: 75px;
}

.step-prg {
  width: 1000px;
  margin-left: 300px;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  color: #707070;
  margin-top: 0;
  padding: 0;
  margin-bottom: 50px;
}

.step-button {
  font-family: "Poppins", sans-serif;
}

/* HOMEPAGE */

.homepage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 140px;
}


.homepage-prg {
  top: 0;
  left: 0;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  margin-bottom: 50px;
}

.homepage-title {
  font-family: "Poppins", sans-serif;
  font-size: 75px;
  margin-bottom: 50px;
}

.title-spam {
  color: #306ef7;
}

.homepage-div {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  margin-bottom: 40px;

}

.number {
  width: 43px;
  height: 44px;
  font-family: "Poppins", sans-serif;
  border-radius: 50px;
  background: #2d2d2d;
  text-align: center;
  margin-right: 10px;
  font-size: 23px;
  font-weight: 900;
}

.number-text {
  width: 921px;
  font-size: 23px;
}




.homelink-1 {
  background: #306ef7;
  color: #ffffff;
  border-radius: 10px;
  margin-right: 20px;
  padding: 20px 40px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.homelink-2 {
  border: 1px solid #707070;
  background-color: #000;
  color: #707070;
  border-radius: 10px;
  text-decoration: none;
  padding: 20px 40px;
  font-family: "Poppins", sans-serif;
}




.homelink-1:hover {
  opacity: 0.5;
  color: #306ef7;
  background: black;
}

.homelink-2:hover {
  opacity: 0.8;
  color: #306ef7;
  border-color: #306ef7;
}


.one-link {
 align-items: center;
 display: flex;
 align-items: center;
 margin-bottom: 80px;
}

.onelink-wrapper {
  width: 1272px;
  height: 566px;
  background: #0D0D0D;
  margin-right: 30px;
  padding: 30px 0px 30px 40px;
}


.onelink-title {
  font-size: 30px;
  color: #0FC65C;
  font-family: "Poppins", sans-serif;
  margin-bottom: 30px;

}

.onelink-text {
  font-weight: 600;
  color:#919191;
  font-size: 80px;
  font-family: "Poppins", sans-serif;

}
.onelink-span {
  color:#ffffff;
}

.base {
 width: 1272px;
 height: 566px;
 background: #0D0D0D;
 padding: 30px 0px 30px 40px;
}

.base-title {
  font-weight: regular;
  font-size: 30px;
  color: #0FC65C;
  margin-bottom: 90px;
  font-family: "Poppins", sans-serif;
}

.base-text {
  color:#919191;
  font-size: 80px;
  font-family: "Poppins", sans-serif;
}

.base-span {
  color:#ffffff;
}

.onelink-button{
  font-family: "Poppins", sans-serif;
 text-align: center;
 margin-bottom: 160px;
}

/* screen */
.screen{
  margin-bottom: 340px;
}

.screen-title{
  text-align: center;
 font-size: 75px;
 font-family: "Poppins", sans-serif;
 margin-bottom: 50px;
}

.background{
  background-image: url("../img/backgrund.jpg") ;
  min-width: 1920px;
  height: 782px;


  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 390px;
}

.background-text{
  width: 1342px;
  text-align: center;
  font-size: 70px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
}

.started{
  margin-bottom: 190px;
}

.started-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  /* width: 520px; */
}

.start-title{
  text-align: center;
  font-size: 100px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
  font-weight: bold;
}

.start-prg{
  text-align: center;
  font-size: 43px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
}

.started-link {

  text-align: center;
  font-size: 43px;
  font-family: "Poppins", sans-serif;
  margin-bottom: 50px;
}

.start-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

}

.start-member {
  font-family: "Poppins", sans-serif;
  color: #707070;
  font-size: 20px;
  margin-left: 4px;

 font-size: 38px;
  margin-bottom: 4px;
}

/* FOOTER */

.footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.footer-logo {

  font-size: 30px;

}

.creator{
  color: crimson;
  text-decoration: none;
}


.creator:active{
  opacity: initial;
  color:#26c741;
}

.creator:hover{
  color:#ffffff;
}

.footer-ul {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  list-style: none;
  margin-bottom: 60px;
}
.footer-li {
  margin-right: 20px;
  color: white;
  font-size: 30px;
}

.footer-link {
  color: white;
  text-decoration: none;
}




.footer-li :active {
  opacity: 0.9;
  color: #306ef7;
}

.footer-li:not(:last-child) {
  margin-right: 20px;
}

@media screen and (max-width: 600px) {
  .footer {
    width: 30%;
    display: flex;
    justify-content: center;
  }
.footer-ul{
  margin: auto;
 margin-right: 40px;
}

  .footer-li{
    font-size: 15px;
    margin: 0;

  }

  .creator{
    font-size: 13px;
  }
}